<h1>Cleaning the cohorts data</h1>
<p>This is a notebook that will take the four spreadsheets for the cohorts years and takes out asterisk and formats the columns</p>

In [65]:
import pandas as pd
import os.path
from pandas.api.types import is_string_dtype
pd.set_option('display.max_columns', None)

In [113]:
school_year = '2012'

files = [
  "regionState.csv",
  "countyGender.csv",
  "countyEthnicity.csv", 
  "countyEcon.csv"
]

cols_list_asterisk = ['enrolled_8th',
 'enrolled_9th',
 'enrolled_9th_percent',
 'enrolled_10th',
 'enrolled_10th_percent',
 'lessthan_10th_enrolled',
 'lessthan_10th_enrolled_percent',
 'graduated',
 'graduated_percent',
 'enrolled_4yr',
 'enrolled_4yr_percent',
 'enrolled_2yr',
 'enrolled_2yr_percent',
 'total_enrolled',
 'total_enrolled_percent',
 'enrolled_wo_record',
 'enrolled_wo_record_percent',
 'enrolled_wo_record_per',
 'total_degrees',
 'total_degrees_percent']

cols_to_round = ['enrolled_8th', 'enrolled_9th','enrolled_10th', 'graduated','total_enrolled']

In [103]:
path_test = "./cohorts/" + school_year + "/countyGender.csv"

path_test2 = "./cohorts/" + school_year + "/regionState.csv"

In [104]:
data_test2 = pd.read_csv(path_test2)

In [105]:
data_test = pd.read_csv(path_test)

In [106]:
list(data_test.columns)

['Region Code',
 'TEA Region',
 'County Number',
 'County Name',
 'gender',
 'enrolled_8th',
 'enrolled_9th',
 'enrolled_9th_percent',
 'enrolled_10th',
 'enrolled_10th_percent',
 'lessthan_10th_enrolled',
 'lessthan_10th_enrolled_percent',
 'graduated',
 'graduated_percent',
 'enrolled_4yr',
 'enrolled_4yr_percent',
 'enrolled_2yr',
 'enrolled_2yr_percent',
 'total_enrolled',
 'total_enrolled_percent',
 'enrolled_wo_record',
 'enrolled_wo_record_percent',
 'total_degrees',
 'total_degrees_percent']

In [107]:
data_test2.dtypes

Region Code                       float64
TEA Region                         object
gender                             object
ethnicity                          object
economic_status                    object
enrolled_8th                        int64
enrolled_9th                        int64
enrolled_9th_percent               object
enrolled_10th                       int64
enrolled_10th_percent              object
lessthan_10th_enrolled             object
lessthan_10th_enrolled_percent     object
graduated                           int64
graduated_percent                  object
enrolled_4yr                        int64
enrolled_4yr_percent               object
enrolled_2yr                       object
enrolled_2yr_percent               object
enrolled_out_of_state             float64
enrolled_out_of_state_per         float64
total_enrolled                      int64
total_enrolled_percent             object
enrolled_wo_record                 object
enrolled_wo_record_per             object
total_degrees                      object
total_degrees_percent              object
dtype: object

In [108]:
data_test.to_csv("./cohorts/" + school_year + "/all_data_test_2.csv", index = False)

In [114]:
print("Loop starting...\nFILE | [COLUMNS] ... to edit")


for file in files:
    path = "./cohorts/" + school_year + "/" + file
    
    if os.path.exists(path):
        data = pd.read_csv(path)

        # see if the data has any of the columns we're looking for
        s = pd.Series(cols_list_asterisk).isin(data.columns)
        indexes = list(s[s].index)
        columns_to_edit = [cols_list_asterisk[i] for i in indexes]

        print(file, ":", columns_to_edit)
        
        # Goes through all of the columns we have to edit  
        if len(columns_to_edit) > 0:
            for column in columns_to_edit:
                # if column is string, replaces * and nan with empty string
                if is_string_dtype(data[column]):
                    data[column] = data[column].apply(lambda x: str(x).replace("*",''))
                # if column is integer, rounds the number to a whole number and turns NAs into null values
                else:
                    data[column] = data[column].astype(pd.Int64Dtype())
            data.to_csv(path, index = False)

print("Loop ended successfully!")

Loop starting...
FILE | [COLUMNS] ... to edit
regionState.csv : ['enrolled_8th', 'enrolled_9th', 'enrolled_9th_percent', 'enrolled_10th', 'enrolled_10th_percent', 'lessthan_10th_enrolled', 'lessthan_10th_enrolled_percent', 'graduated', 'graduated_percent', 'enrolled_4yr', 'enrolled_4yr_percent', 'enrolled_2yr', 'enrolled_2yr_percent', 'total_enrolled', 'total_enrolled_percent', 'enrolled_wo_record', 'enrolled_wo_record_per', 'total_degrees', 'total_degrees_percent']
countyGender.csv : ['enrolled_8th', 'enrolled_9th', 'enrolled_9th_percent', 'enrolled_10th', 'enrolled_10th_percent', 'lessthan_10th_enrolled', 'lessthan_10th_enrolled_percent', 'graduated', 'graduated_percent', 'enrolled_4yr', 'enrolled_4yr_percent', 'enrolled_2yr', 'enrolled_2yr_percent', 'total_enrolled', 'total_enrolled_percent', 'enrolled_wo_record', 'enrolled_wo_record_percent', 'total_degrees', 'total_degrees_percent']
countyEthnicity.csv : ['enrolled_8th', 'enrolled_9th', 'enrolled_9th_percent', 'enrolled_10th', 'enrolled_10th_percent', 'lessthan_10th_enrolled', 'lessthan_10th_enrolled_percent', 'graduated', 'graduated_percent', 'enrolled_4yr', 'enrolled_4yr_percent', 'enrolled_2yr', 'enrolled_2yr_percent', 'total_enrolled', 'total_enrolled_percent', 'enrolled_wo_record', 'enrolled_wo_record_percent', 'total_degrees', 'total_degrees_percent']
countyEcon.csv : ['enrolled_8th', 'enrolled_9th', 'enrolled_9th_percent', 'enrolled_10th', 'enrolled_10th_percent', 'lessthan_10th_enrolled', 'lessthan_10th_enrolled_percent', 'graduated', 'graduated_percent', 'enrolled_4yr', 'enrolled_4yr_percent', 'enrolled_2yr', 'enrolled_2yr_percent', 'total_enrolled', 'total_enrolled_percent', 'enrolled_wo_record', 'enrolled_wo_record_per', 'total_degrees', 'total_degrees_percent']
Loop ended successfully!